#basketballCourtPic{
    transform: translate(550%,200%)
}
#quest1{
    transform: translate(-450%,200%)
}
#quest2{
    transform: translate(150%,200%)
}
#quest3{
    transform: translate(-200%,200%)
}